<!-- DJ Booth Section -->
<div class="columns is-centered mt-5">
    <article class="panel is-success column is-three-fifths">
        <p class="panel-heading">
            My Playlists
        </p>
        <!-- Loop through all playlist for user -->
        {{#each playlists as |playlist|}}
        <a class="panel-block is-active" data-playlist_id="{{playlist.id}}" href="/viewplaylist/{{playlist.id}}">
            <p>{{playlist.name}} : {{playlist.description}} </p>
        </a>
        {{/each}}
        <div class="control mt-3 mb-0 is-centered columns is-centered">
            <a class="button is-dark" href="/newplaylist">Create New Playlist</a>
        </div>
    </article>
</div>