<<<<<<< HEAD
<!-- Homepage -->
<!-- Loop through all playlists -->
 {{!-- {{#each playlists as |playlist| }}  --}}
<div class="columns is-centered mt-5">
  <article class="panel is-success column is-three-fifths">
    <p class="panel-heading">
      Playlist Name
      <!-- {{playlist.name}} -->
    </p>
    <p class="panel-tabs pt-3 pb-3">
      Playlist description.
      <!-- {{playlist.description}} -->
    </p>
    <div class="control mt-3 mb-0 is-centered columns is-centered">
      <a class="button is-dark" href="/viewplaylistpublic">View Playlist</a>
      {{!-- <a class="button is-dark" href="/viewplaylistpublic/{{playlist.id}}">View Playlist</a> --}}
    </div>
  </article>
</div>
{{!-- {{/each}} --}}
=======
<h1> This the homepage </h1>

<script src="/js/login.js"></script>
>>>>>>> main
