<!-- Search Song -->
<html>
<!-- Rob says to delete out Search Tracks by Artitst/ Dancebility. 
We will need to modify the search track by album to just search tracks -->
<!--
<div class="columns is-centered mt-5">
    <article class="panel is-success column is-three-fifths">
        <p class="panel-heading">
            Search Tracks by Artist
        </p>
        <form class="mt-4">

            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="e.g Alex Smith">
                </div>
            </div>

            <div class="control">
                <a class="button is-dark" data-playlist_id="{{playlist.id}}" href="/songresults/{{playlist.id}}" id="song-search-artist">Search</a>
            </div>

        </form>
    </article>
</div>
-->




<div class="columns is-centered mt-5">
    <article class="panel is-success column is-three-fifths">
        <p class="panel-heading">
            Search Tracks
        </p>
        <form class="mt-4">

            <div class="field">
                <div class="control">
                    <input class="input" id="song-search-input" type="text" placeholder="e.g Alex Smith">
                </div>
            </div>

<!-- Edit to Sam Preston code to implement Rob's API search function -->
            <div class="control">
                <button class="button is-dark" id="song-search" value="song-search" type="button"
                
                 >Search</button>
            </div>


        </form>
    </article>
</div>
<script src="/js/search.js"></script>
</html>
<!--
<div class="columns is-centered mt-5">
    <article class="panel is-success column is-three-fifths">
        <p class="panel-heading">
            Search Tracks by Dance-ability
        </p>
        <form class="mt-4">

            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="e.g Alex Smith">
                </div>
            </div>

            <div class="control">
                <a class="button is-dark" data-playlist_id="{{playlist.id}}" href="/songresults/{{playlist.id}}" id="song-search-dance">Search</a>
            </div>

        </form>
    </article>
</div>

-->
