<!-- View a public playlist without being able to edit it-->
<div class="columns is-centered mt-5">
    <article class="panel is-success column is-three-fifths">
        <p class="panel-heading">
            {{playlist.name}}
        </p>
        <p class="panel-tabs pt-3 pb-3">
            {{playlist.description}}
        </p>

        <!-- Loop through songs -->
        {{#each songs as |song|}} 
        <div class="panel-block is-active flex-row-between">
            <p>{{song.name}} by {{song.artist}}</p>
        </div>
        {{/each}}
    </article>
</div>